{% extends "base.html" %}
{% block content %}

<!-- Start About -->
        <div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">

              <h2>about Capego</h2>
              <p class="intro">Capego is a free and innovative method for learning and improving your listening and spelling skills. 
              Join the Capego community and start improving your skills today.</p>

          </div> 
                
          </div>
        </div>
      </div>

{% endblock %}
