{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Capego</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Improve your english listening and spelling with your favourite videos.">
<meta name="author" content="Adrián">

<!-- Style sheets -->
<link href="{{ STATIC_PREFIX }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/font-awesome.min.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/introjs.min.css" rel="stylesheet">
<!--[if IE 7]>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome-ie7.min.css">
<![endif]-->
<link href="{{ STATIC_PREFIX }}css/m-forms.min.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/m-buttons.min.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/capego-theme.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/custom.css" rel="stylesheet">
<link href="{{ STATIC_PREFIX }}css/capego.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- fav and touch icons -->
<link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_PREFIX }}ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_PREFIX }}ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_PREFIX }}ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_PREFIX }}ico/apple-touch-icon-57-precomposed.png">
{% block additional_header %}{% endblock %}
</head>

<body {% block register_callbacks %}{% endblock %}>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41670443-1', 'capego.com');
  ga('send', 'pageview');
</script>
	<div class="row header">
		<nav class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar btntop" data-toggle="collapse"
						data-target=".nav-collapse">NAVIGATION</a>
					<h1 id="logo"
                        class="brand hidden-phone hidden-tablet">
						<a href="/"> <img
							src="{{ STATIC_PREFIX }}img/logo.png" alt="">
						</a>
					</h1>
					<div class="nav-collapse">
						<ul class="nav pull-right">
                                {% if user.is_authenticated %}
                                    <li class="dropdown backround_menu">
                                        <a id="drop1" href="/auth" role="button" class="dropdown-toggle"
                                           data-toggle="dropdown">{{ user.username }} - <strong>{{ user.userextradata.points }}</strong>
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/auth/user/">Profile</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/badges/">Badges</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/auth/logout/">Logout</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="/auth"><p id="nologgedin">login</p></a></li>
                                {% endif %}
							<li><a href="/contact/about"><p>about</p></a></li>
							<li><a href="/contact/"><p>contact</p></a></li>
							<li><a href="/contact/donate/"><p>donate</p></a></li>
							<li><a href="#" id="help-main" rel="popover"><p id="tutorial">Tutorial</p></a></li>
						</ul>
					</div>
                    {% block heading %}
                    {% endblock %}
                </div>
			</div>
		</nav>
	</div>

	<div class="pagination-centered mobilelogo hidden-desktop">
		<a href="/"> <img
			src="{{ STATIC_PREFIX }}img/logo_mobile.png" alt="">
		</a>
	</div>

	{% block content %}

	{% endblock %}

	<div class="row-fluid">
		<div class="container footer">
            <div class="span4 address">
                ©2013 Capego <a href="http://capego.com"> - All rights reserved.</a>
                <br/><br/>Follow us in:
                <a href="https://www.facebook.com/pages/Capego/193301227460977" target="_blank" rel="nofollow">
                    <i class="icon-facebook-sign icon-3x"></i></a>&nbsp;&nbsp;
                <a href="https://twitter.com/Capego_lang" target="_blank" rel="nofollow">
                    <i class="icon-twitter icon-3x"></i></a>
            </div>
			<div class="span5 pull-right footer-newsletter">
				<h2>Newsletter</h2>
                <span id="newsletter_msg">Subscribe to our newsletter and get the latest news!</span>
				<form id="subscribe-form" action="/contact/subscribe/" method="post">
                    {% csrf_token %}
					<input type="text" name="email" id="email"
						placeholder="Your Email Address" class="input-text m-wrap m-ctrl">
					<button type="submit" class="m-btn blue">Sign Up</button>
				</form>
			</div>
		</div>
	</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_PREFIX }}js/libs/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="{{ STATIC_PREFIX }}js/jquery.isotope.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/custom.js"></script>
	<script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/capego_util.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
	<script src="{{ STATIC_PREFIX }}js/intro.min.js"></script>

    {% block additional_js %}{% endblock %}

    <script>
        $(document).ready(function(){
            {% block on_ready %}
            {% endblock %}
            $("#help-main").click(
                    function(){startIntro();}
            );
        });

        function doINeedToSend(description){
            v = localStorage.getItem(description);
            if (v !== null && v == "true") {
                //prevent sending the same event more than once
                return false;
            }
            return true;
        }

        function sendUserActivities(video_id){
            {% if user.is_authenticated %}
            var usr = "{{user.username}}";
            doSomethingAfterSomeSeconds(5,
                    function(){sendActivity(constants["Visit video"],
                            usr.concat("VV").concat(constants["Visit video"].toString()).concat("-").concat(video_id.toString()));
                    });
            doSomethingAfterSomeSeconds(30,
                    function(){sendActivity(constants["Visit the site"],
                            usr.concat("VS").concat(constants["Visit the site"].toString()).concat("-").concat(getToday()));
                    });
            {% endif %}
        }

        $(function ()
        { $("#help-main").popover({placement:'bottom', trigger: 'hover',
            content: "Use this tutorial to learn more about how to use Capego."});
        });

        function startIntro(){
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {% block tutorial_steps %}
                    {
                        element: '#logo',
                        intro: "Capego is an innovative solution to improve your english listening and spelling " +
                                "skills by using small fragments of movies and tv shows."
                    },
                    {% if not user.is_authenticated %}
                    {
                        element: '#nologgedin',
                        intro: "You can use Capego without any registration but if you want your progress to be tracked, " +
                                "you need to login by clicking here."
                    },
                    {% endif %}
                    {% endblock %}
                    {% block tutorial_local_steps %}
                    {
                        element: '#tutorial',
                        intro: "Each Capego section will show different tutorials."
                    },
                    {
                        element: '#logo',
                        intro: "Whenever you are ready, look for a video and start learning!"
                    }
                    {% endblock %}
                ]
            });
            intro.start();
        }
    </script>

</body>
</html>