<iframe src="http://vimeo.com/58179094" width="457"
								height="343" frameborder="0" webkitAllowFullScreen
								mozallowfullscreen allowFullScreen></iframe>
					</hr>
<code contenteditable="true">
    <span style="color: blue">var</span> 
    foo = 
    <span style="color: green">"bar"</span>;
</code>

<iframe src="http://player.vimeo.com/video/58179094?badge=0" width="500" height="281" frameborder="0" 
webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>