{% extends "base.html" %}

{% block content %}

<div class="row-fluid section" id="portfolio">
    <div class="row-fluid section">
    <div class="container">

		<div class="explain">

			<h2>English language learning</h2>
			<p class="intro">Improve your listening and spelling skills with
				Capego.</p>
			<!-- Start Portfolio Navigation -->
			<nav class="primary m-btn-group toggle-buttons clearfix">
				<ul>
					<li><a href="{{ STATIC_PREFIX }}#" class="m-btn selected"
						data-filter="*">All</a></li>
					<li><a href="{{ STATIC_PREFIX }}#" class="m-btn bootstro"
                                        data-bootstro-step="1"
                                        data-bootstro-title="Filter"
                                        data-bootstro-content="Filter the difficulty of the videos by pressing any
                                        of these links"
						data-filter=".Beginner">Beginner</a></li>
					<li><a href="{{ STATIC_PREFIX }}#" class="m-btn"
						data-filter=".Intermediate">Intermediate</a></li>
					<li><a href="{{ STATIC_PREFIX }}#" class="m-btn"
						data-filter=".Advanced">Advanced</a></li>
				</ul>
			</nav>


			<!-- START Listener items -->

			<section class="clearfix">

				<div class="portfolio">
					{% for listen in latest_listener_list %}
					<figure class="entry {{ listen.level }}">
						<a href="/listen/{{ listen.id }}"><img
							src="{{ STATIC_PREFIX }}img-lst/{{ listen.id }}.jpg" alt="">
							<h2>{{ listen.title }}</h2>
							<p>{{ listen.description }}</p> </a>
					</figure>
					{% endfor %}
				</div>

			</section>



		</div>
	</div>
    </div>
</div>
<!-- End PORTFOLIO -->

{% endblock %}

