{% extends "base.html" %}
{% block register_callbacks %}onload="initPlay({{ listener.id }})" onresize="resizePlayer()" {% endblock %}

{% block content %}
<div class="row-fluid section" id="about">
	<div class="container">
		<div class="explain"><h2>{{ listener.title }}</h2></div>
        <div class="row-fluid">
            <div class="span5 pagination-left" id="video">
                <iframe id="video_play" src="{{ listener.url }}" width="457" height="343"
                    frameborder="0" webkitAllowFullScreen mozallowfullscreen
                    allowFullScreen></iframe>
            </div>
            <div class="span7 pagination-right">
                {{ listener.dialog_to_complete|safe }}
            </div>
            <div class="row-fluid">
                <ul class="thumbnails m-media-container">
                    <li class="span10">
                        <div class="well">Please enter the dialog of each character in the right column.
                            To get your answers corrected, you can hit enter after each word (recommended)
                            or press the 'Submit' button at the end.</div>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>
{% endblock %}

{% block on_ready %}
setElementIdByXpath('//*[@id="dialog"]/tbody/tr[1]/td[1]/strong', 'firstcharacter');
{% endblock %}

{% block tutorial_steps %}
{
    element: '#video',
    intro: "First, play the video. You can watch it and pause it as many times as you need."
},
{
    element: '#line_id1',
    intro: "Then, type the dialog as best as you can in this box. Press 'enter' so Capego will " +
            "correct your text. You can press 'enter' after each word if you want."
},
{
    element: '#line_id1',
    intro: "Tip 1: Whenever you hear a number, please type the letters, " +
            "not the digits. For example 'one thousand' and not '1 thousand'."
},
{
    element: '#line_id1',
    intro: "Tip 2: You don't need to type signs like ('.,!?') or respect uppercase or lowercase " +
            "letters. Capego will correct them for you. You only need to get the words (and the spelling) " +
            "right."
},
{
    element: '#line_id1',
    intro: "Tip 3: Contraction can be written in either way. So 'Don't = Do not' But if you " +
            "type: \"don't\", please remember the apostrophe! :)"
},
{
    element: '#line_id1',
    intro: "After Capego verifies your text, the correct words from the beginning (if any) will " +
            "appear on top of the box."
},
{
    element: '#line_id1',
    intro: "If the whole line is correct, you will see the text with a green background " +
            "and a check mark."
},
{
    element: '#firstcharacter',
    intro: "In order to follow the dialog, you can check the name of each character over here."
},
{% if not user.is_authenticated %}
{
    element: '#btn_suggest1',
    intro: "If you are stuck with a word, you can always press this button so Capego will write " +
            "it for you."
},
{
    element: '#nologgedin',
    intro: "You can use Capego without any registration but if you want your progress to " +
            "be tracked, " +
            "you need to login by clicking here."
},
{% else %}
{
    element: '#btn_suggest1',
    intro: "If you are stuck with a word, you can always press this button so Capego will write " +
            "it for you."
},
{
    element: '#btn_suggest1',
    intro: "Please notice that a small penalty over the points received for solving the " +
            "video will be applied each time you press this button."
},
{% endif %}
{
    element: '#btn_correct',
    intro: "Pressing this button will correct the whole dialog. This is not necessary if you " +
            "already pressed 'enter' on each line."
},
{% endblock %}

{% block tutorial_local_steps %}
{% endblock %}