{% load static %} {% get_static_prefix as STATIC_PREFIX %}

<!doctype html>
<html>
<head>
<title>Capego</title>
<meta name="viewport"
	content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css"
	href="{{ STATIC_PREFIX }}css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css"
	href="{{ STATIC_PREFIX }}css/style.css" />
<script type="text/javascript"
	src="{{ STATIC_PREFIX }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/main.js"></script>
<script type="text/javascript"
	src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
      <script src="{{ STATIC_PREFIX }}js/html5.js"></script>
    <![endif]-->

<script>
	var xmlhttp;
	function loadXMLDoc(url, cfunc) {
		if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp = new XMLHttpRequest();
		} else {// code for IE6, IE5
			xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange = cfunc;
		xmlhttp.open("GET", url, true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send();
	}

	function correct_data(e, span_ctrl, input_ctrl, span_correct_ctrl) 
	{
        // look for window.event in case event isn't passed in
        if (typeof e == 'undefined' && window.event)
        { e = window.event; }
        if (e.keyCode == 13)
        {
    		input_text = span_correct_ctrl.innerHTML + input_ctrl.value.replace("?","");
    		if (input_text.length < 1)
    			return;
			var url_check = "../check/{{ listener.id }}/";
        	loadXMLDoc(
    				url_check + input_ctrl.id + "/" 
    				+ input_text + "/",
    				function() {
    					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
    						span_ctrl.innerHTML = xmlhttp.responseText;
    					}
    				}); 
        }		
	}
	
	function correct_next_word(e, span_ctrl, input_ctrl, span_correct_ctrl)
	{
   		input_text = span_correct_ctrl.innerHTML + input_ctrl.value.replace("?","");
   		if (input_text.length < 1)
   			return;
		var url_check = "../correct_next_word/{{ listener.id }}/";
       	loadXMLDoc(
   				url_check + input_ctrl.id + "/" 
   				+ input_text + "/",
   				function() {
   					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
   						span_ctrl.innerHTML = xmlhttp.responseText;
   					}
   				}); 
	}
</script>
</head>

<body>
	<div class="navbar navbar-fixed-top m-header">
		<div class="navbar-inner m-inner">
			<div class="container-fluid">
				<a class="brand m-brand" href="/index.html">Capego</a>

				<form class="form-search m-search span5">
					<input type="text" placeholder="Type to search"
						class="span5 search-query">
				</form>

				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div class="nav-collapse collapse">

					<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i> San Tiago <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon-user"></i>Profile</a></li>
							<li><a href="#"><i class="icon-cog"></i>Settings</a></li>
							<li class="divider"></li>
							<li><a href="login.html"><i class="icon-off"></i>Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-top"></div>
	<aside class="sidebar">
		<ul class="nav nav-tabs nav-stacked">
			<li class="active"><a href="index.html">
					<div>
						<div class="ico">
							<img src="{{ STATIC_PREFIX }}img/ico/ico-home.png">
						</div>
						<div class="title">Home</div>
					</div>

					<div class="arrow">
						<div class="bubble-arrow-border"></div>
						<div class="bubble-arrow"></div>
					</div>
			</a></li>
		</ul>
	</aside>

	<div class="m-sidebar-collapsed">
		<ul class="nav nav-pills">

		</ul>

		<div class="arrow-border">
			<div class="arrow-inner"></div>
		</div>
	</div>

	<div class="main-container">
		<div class="container-fluid">
			<section>
				<div class="page-header">
					<h1>Home</h1>
				</div>
				<div class="row-fluid">
					<ul class="thumbnails m-media-container">
						<li class="span4"><iframe
								src="{{ listener.url }}" width="457"
								height="343" frameborder="0" webkitAllowFullScreen
								mozallowfullscreen allowFullScreen></iframe></li>
						<li class="span4">
							<div class="container-fluid">
								<section>
									<div class="page-header">
										<h2>Video dialog</h2>
									</div>
									{{ listener.dialog_to_complete|safe }}
								</section>
							</div>
						</li>
					</ul>
				</div>
				<div class="row-fluid">
					<ul class="thumbnails m-media-container">
						<li class="span8">
							<div class="well">Please enter the dialog of each character
								in the right column and then press the 'Submit' button to get
								your answers corrected.</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</body>
</html>