{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3>Badges:</h3>
                <table class="table table-striped table-condensed">
                    {% for b in badges %}
                        <tr>
                            <td>
                                {% if b.awarded %}
                                    <span><i class="icon-ok icon-2x ok"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                <div title="{{ b.type.name }} badge: {{ b.description }}"><i class="icon-circle icon-large {{ b.type.name }}"></i></div>
                            </td>
                            <td>
                                {{ b.name }}</td>
                            <td>
                                {{ b.description }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div>

            </div>
        </div>
    </div>
{% endblock %}
