body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #1A1A1A;
    margin-top:80px;
}

h2 {
    line-height:normal;
}

h4 {
    font-size: 20px;
    font-weight:200;
}

input, button, select, textarea {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
     background-image: linear-gradient(to bottom, #0088cc, #0077b3);
     background-image:none;
}

.btn {
     background-color: #000;
     *background-color: #000;
     background-image:none;
     border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);   
     border-color: #e6e6e6 #e6e6e6 #bfbfbf;
}

.btn:hover {
     background-color:transparent;
     *background-color:transparent;
     background-position: 0 33px;
}

.btn-large {
     -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;        
}

.nav-header {
    padding-top:0px;    
}

.navbar {
    background:#fff;    
}

.navbar-inner {
    min-height:0;
    background-color:transparent;
    background-image:none;
    background-repeat:repeat;
    border:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    filter:;   
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.navbar-search .search-query {
     font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.navbar-fixed-bottom {
    z-index: 9999; 
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.navbar-fixed-bottom .navbar-inner { 
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.navbar .nav > li > a { 
    color: #55606E;
    font:bold 16px/40px "Open Sans",Helvetica,Arial,Sans-serif;                  
    text-transform:uppercase;
    font-weight:300;
    border-top:11px solid transparent; 
}

.navbar .nav > li.active{
   border-top:10px solid #F30;    
   opacity: 0.9;
   -webkit-transition: opacity 0.15s linear;                                          
   -moz-transition: opacity 0.15s linear;                                             
   -o-transition: opacity 0.15s linear;                                               
   transition: opacity 0.15s linear;     
}

.navbar .nav > li.active:hover{border-top:none; padding-top:0px;} 

.navbar .nav > li.active a{/*border-bottom:1px solid #F15A23;*/ padding-top:0px;}
.navbar .nav > li.active a:hover{padding-top:11px;}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover, 
.navbar .nav > li > a.active
{
    color: #333333;
    text-decoration: none;
    background-color: transparent;
    opacity: 0.9;
     -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;   
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
}

.navbar .nav > .active > a,  
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus { 
 background-color:transparent;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
} 

.navbar .btn-navbar {
    float:none;
    background-color: #000; 
    width:93%;
    background-color:transparent;
    *background-color:transparent;
    background-image:none;
    background-repeat:repeat;
    filter:;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
    background-color:transparent;
    *background-color:transparent;
}


.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
    background-color:transparent;
}

.navbar .btn-navbar .icon-bar {
  width: 98%;
  height: 4px;
  background-color: #fff;
  -webkit-border-radius:0;
  -moz-border-radius:0;
    -border-radius:0;
  -webkit-border-shadow:none;
  -moz-border-shadow:none;
    -border-shadow:none;
}


.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #000;
}

.pagination ul { 
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
     -webkit-border-radius:0;
     -moz-border-radius:0;
     border-radius:0;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span { 
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.carousel .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.carousel .next {
  left:0;opacity:1;z-index:1;;
}

.carousel .active.left {
  left:0;opacity:0;z-index:2;
}

.carousel-control {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 60px;
  height: 60px;
  margin-top: -20px;
  font-size: 70px;
  font-weight: 100;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  background: #999;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

