.status-correct 
{
  background-color: #b3f1b4; 
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.small-btn
{
  padding: 1px 3px 1px; 
}

#navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#navcontainer ul li a:hover
{
    color: #fff;
    background-color: #369;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #555555;
    background-color: #e5e5e5;
}

.Gold{
    color: gold;
}

.Silver{
    color: #c0c0c0;
}

.Bronze{
    color: #CD7F32;
}

.ok{
    color: limegreen;
}

.minimum_width{
    width: 1px;
}