{% extends "base.html" %}

{% block heading %}
    <div class="alert alert-info span5">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Please complete the fields below in order to finish your registration.
    </div>
{% endblock %}

{% block content %}

    <div id="form">

    <div class="container">

    <div class="row">
    <div class="span8" >
        <h3>Please fill the following form</h3>

        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="id_username">Username</label>
                <input type="text" name="username" id="id_username" value="" />
            </p>
            <p>
                Subscribe to newsletter:
                <input type="checkbox" checked="true" name="newsletter" id="newsletter"/>
            </p>
            <input type="submit" value="Send" />
        </form>


    </div>
    </div>
    </div>
    </div>
{% endblock %}


