{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="span6">
  <h3>User data:</h3>
  <table class="table table-striped table-condensed">
    <tr><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
    <tr><th>Subscribed to newsletter:</th> <td>{{ user.userextradata.subscribes_to_newsletter }}</td></tr>
  </table>
</div>

<div>

</div>
</div>
</div>
{% endblock %}
