{% extends "base.html" %}
{% block content %}

<!-- Start About -->
    <div class="row-fluid section" id="about" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
          <div class="container"> 

            <div class="explain">
              <div class="page-header">
                <h1>About Capego</h1>
              </div>
                    <p class="intro">Capego is a free and innovative method for learning and improving your listening and spelling expertise.
                        </br></br>Join the Capego community and start improving your skills today.
                    </p>
                    <p class="intro"></p>
            </div>
                
          </div>
        </div>
      </div>

{% endblock %}
