{% extends "base.html" %}

{% block additional_header %}
{% endblock %}

{% block content %}
    <div class="row-fluid section" id="about" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
          <div class="container"> 

            <div class="explain">
              <div class="page-header">
                <h3>Donate</h3>
              </div>
                    <p class="intro">Capego is free but your donation will help adding more videos,
                        content and features to the site.
                        </br></br>We don't include advertisements but rely on our user's support to keep and
                        improve the site.
                    </p>
                    <p class=""><img width="60px" height="60px"
                        src="{{ STATIC_PREFIX }}img/bitcoin_logo_plain.png"/>
                        Please, donate bitcoins to this address:
                        <strong>14quBuvTsgtUJKFqpXQ7EcgpHkJZzTTNBm</strong>
                        <img width="100px" width="100px"
                        src="{{ STATIC_PREFIX }}img/btcqr.png"/></p>
                    <p class="intro">Or flattr us!
                        <a href="http://flattr.com/thing/1450043/Support-Capego"
                           target="_blank">
                            <img src="http://api.flattr.com/button/flattr-badge-large.png"
                                 alt="Flattr this" title="Support Capego" border="0" /></a>
                    </p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}


