{% extends "base.html" %}

{% block additional_header %}
{% endblock %}

{% block content %}
    <div class="row-fluid section" id="about" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
          <div class="container"> 

            <div class="explain">
              <div class="page-header">
                <h3>Donate</h3>
              </div>
                    <p class="intro">Capego is free but your donation will help adding more videos,
                        content and features to the site.
                        </br></br>We don't include advertisements but rely on our user's support to keep and
                        improve the site.
                    </p>
                    <p class="">
                        <img width="60px" height="60px"
                        src="{{ STATIC_PREFIX }}img/bitcoin_logo_plain.png"/>
                        Please, donate bitcoins to this address:
                        <strong>14quBuvTsgtUJKFqpXQ7EcgpHkJZzTTNBm</strong>
                        <img width="100px" width="100px"
                        src="{{ STATIC_PREFIX }}img/btcqr.png"/>
                    </p>
                    <table>
                    <tr>
                        <td><p class="intro">Use Paypal:</p></td>
                        <td>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="N8VNGEJRJPVRU">
                            <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <p class="intro">
                                Or flattr us!
                                <a href="http://flattr.com/thing/1450043/Support-Capego"
                                   target="_blank">
                                    <img src="http://api.flattr.com/button/flattr-badge-large.png"
                                         alt="Flattr this" title="Support Capego" border="0" /></a>
                            </p>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}


