{% extends "base.html" %}

{% block additional_header %}
{% endblock %}

{% block content %}
    <div class="row-fluid section" id="about" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
          <div class="container"> 

            <div class="explain">
              <div class="page-header">
                <h3>Thank you!</h3>
              </div>
                    <p class="intro">Your donation is helping keeping Capego free and with
                        more videos, content and features.
                        </br></br>We don't include advertisements but rely on our user's support to keep and
                        improve the site.
                    </p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}


